<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="<%= page.excerpt || config.description || theme.description %>">
  <meta name="keyword" content="<%= config.keyword || theme.keyword %>">
  <% if (config.favicon || theme.favicon){ %>
    <link rel="shortcut icon" type="image/ico" href="<%= config.favicon || theme.favicon %>"/>
  <% } else { %>
    <%- favicon_tag('css/images/logo.png') %>
  <% } %>
  <title>
    <% if (page.title){ %>
      <%= page.title %> | <%= config.title %>
    <% } else { %>
      <%= config.title %>
    <% } %>
  </title>
  <link href='<%= theme.cdn.css.fontawesome%>' rel="stylesheet">
  <link href='<%= theme.cdn.css.nprogress%>' rel="stylesheet">
  <link href="//lib.baomitu.com/highlight.js/9.15.10/styles/<%= theme.highlight %>.min.css" rel="stylesheet">
  <%- css('css/style') %>
  <% if (theme.comment === 'gitment') { %>
    <%- css('css/plugins/gitment.css') %>
  <% } %>
  <script src='<%= theme.cdn.js.jquery%>'></script>
  <script src='<%= theme.cdn.js.geopattern%>'></script>
  <script src='<%= theme.cdn.js.nprogress%>'></script>
  <% if (theme.qrcode) { %>
    <%- js('js/qrious') %>
  <% } %>
  <% if (theme.comment === 'gitment') { %>
    <%- js('js/gitment') %>
  <% } %>
  <% if (theme.comment === 'gitalk') { %>
    <link rel="stylesheet" href='<%= theme.cdn.css.gitalk%>'>
    <script src='<%= theme.cdn.js.gitalk%>'></script>
  <% } %>

  <% if (theme.FancyBox.enable) { %>
    <link crossorigin="anonymous" integrity="sha384-Q8BgkilbsFGYNNiDqJm69hvDS7NCJWOodvfK/cwTyQD4VQA0qKzuPpvqNER1UC0F" href="https://lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-Zm+UU4tdcfAm29vg+MTbfu//q5B/lInMbMCr4T8c9rQFyOv6PlfQYpB5wItcXWe7" src="https://lib.baomitu.com/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <% } %>


  <%- partial('_third-party/mathjax') %>
  <%- partial('_third-party/google_analytics') %>
</head>
<div class="wechat-share">
  <img src="/css/images/logo.png" />
</div>
